<div class="container">
  <div class="card mt-5">
    <div class="card-body text-center">
      <span class="h4">Lista de empleados</span>
      <button class="btn btn-dark btn-sm float-right" routerLink="/create-empleados"><i class="fa fa-plus" aria-hidden="true"></i> Agregar</button>
      <table class="table mt-5 table-striped">
        <thead class="thead-inverse">
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Teléfono</th>
            <th>Salario</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td>Francisco</td>
              <td>Marin</td>
              <td>0999999999</td>
              <td>2500</td>
              <td>
                <i class="fa fa-edit fa-lg text-info mr-2"></i>
                <i class="fa fa-trash fa-lg text-info text-danger"></i>
              </td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>
